body{
	background-color: black;
	font-size: 120%;
}

nav{
	margin: 2% 5% 0% 5%;
}

/* Style The Dropdown Menu */
#styleButton, #rowButton,#columnButton {
	font-size: 80%;
	margin: 5%;
    color: lightgray;
	background-color: black;
    padding: 5%;
	border-radius: 6px 6px 6px 6px;
	height: 60px;
	display: table-cell;
	border: 1px solid gray;
}
.navList {
    position: relative;
    display: inline-block;
}
#styleList,#rowList,#columnList {
    display: none;
    position: absolute;
    background-color: black;
	border: 1px solid gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#styleList li,#rowList li,#columnList li{
    color: black;
    padding: 5% 5%;
    text-decoration: none;
    display: block;
}
#styleList  a:hover,#rowList  a:hover,#columnList a:hover {
	background-color: black;
	border: 1px solid white;
	color: white;
}
.navList:hover #styleList,.navList:hover #rowList,.navList:hover #columnList {
    display: block;
}
.navList:hover #styleButton,.navList:hover #rowButton,.navList:hover #columnButton{
	color: white;
	border: 1px solid white;
}
nav ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border-radius: 5px 5px 5px 5px;
}
nav li a{
	border-radius: 6px 6px 6px 6px;
	background-color: black;
	border: 1px solid gray;
	display: block;
	text-align: center;
	padding: 5% 5%;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	color: lightgray;
	width: 15%;
	height: 15%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
   border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none gray;
  border-radius: 50px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Table */
table{
	margin: 0% 5% 2% 5%;
	padding: 1% 3%;	
	line-height: 140%;
}
tr{
	padding: 1% 3%;
	white-space: nowrap;
}
td{
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	padding: 1px 10px;
	white-space: pre;
	border: 1px solid black;
	color: lightgray;
}
th{
	border-radius: 5px 5px 5px 5px;
	border: 1px solid gray;
	color: gray;
	text-align: center;
	padding: 1px 10px;
	background-color:  black;
}

/* Special */
.message {
	text-align: left;
	min-width: 600px;
}

.trace td {
	background-color: blue;
	border: 3px solid blue;
}
.debug td {
	background-color: green;
	border: 3px solid green;
}
.info td {
	background-color: black;
	border: 3px solid black;
}
.warning td {
	background-color: brown;
	border: 3px solid brown;
}
.error td {
	background-color: red;
	border: 3px solid red;
}
tr:hover td{
	background-color: black;
}
.trace:hover td {
	border: 3px solid blue;
	color: blue;
}
.debug:hover td {
	border: 3px solid green;
	color: green;
}
.info:hover td{
	border: 3px solid lightgray;
}
.warning:hover td {
	border: 3px solid brown;
	color: brown;
}
.error:hover td {
	border: 3px solid red;
	color: red;
}